.modalAddChat {
  position: relative;
  border-radius: 11px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  border: 1px solid #8aaecf;
  transform: translate(-50%, -50%);
  overflow: auto;
  width: 260px;
  padding: 30px;
}

.inputCustom {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #8aaecf;
  padding: 5px 15px;
  outline: none;
  color: #969696;
}

.btnSubmit {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #d5d5d5;
  color: #969696;
}

.label {
  position: relative;
}

.errMsg {
  position: absolute;
  left: 0;
  bottom: -18px;
  color: #eb4c42;
  font-size: 13px;
}

.btnClose {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #969696;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;
}

.iconClose {
  stroke: currentColor;
}
