.registerPageSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-image: linear-gradient(white, rgb(190, 219, 176)); */
  height: 100vh;
}

.registerPageWrapper {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}
