.homePageSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-image: linear-gradient(white, rgb(190, 219, 176)); */
  height: 100vh;
}

.titleHome {
  font-size: 95px;
  text-align: center;
  margin-bottom: 50px;
}

.listLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  font-size: 25px;
}

.link {
  display: block;
  transition: transform 250ms;
}

.link:hover,
.link:focus {
  transform: scale(1.1);
  text-decoration: underline;
}

.linkGoogle {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 55px;
  background-color: white;
  border-radius: 15px;
  transition: transform 250ms;
}

.linkGoogle:hover,
.linkGoogle:focus {
  transform: scale(1.1);
}
