.registerPageSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.registerPageWrapper {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}
